// app global css in SCSS form
.my-custom-modal {
  width: 100% !important;
  height: 100% !important;
  max-width: 1200px;
  max-height: 900px;
  border-radius: 12px; /* Bordes redondeados */
}

.q-field--dense .q-field__label {
  /*font-size: 18px;*/
  top: 8px;
  font-weight: 400;
  color: var(--q-color-primary);
  text-transform: uppercase !important;
}
.q-field-custom {
  height: 25px;
  margin-top: 0px;
  padding-top: 0px;
}
